.card{
width: 25vw;
height: 400px;
overflow: hidden;
border: 1px solid rgb(92, 92, 92);
border-radius: 20px;
margin-bottom: 30px;
transition: 0.5s;
}
.card:hover{
  box-shadow: 12px 12px 7px rgb(172, 172, 172);
}
.container{
  margin: 0 10%;
  display: flex;
  gap: 3%;
}
.imgcontainer{
  background-color: grey;
  height: 250px;
  width: 25vw;
}
.img{
background-color: grey;
height: 250px;
object-fit:fill;
width: 25vw;
}
.info{
  padding:0 10px;
}
.info h2,.info h5, .info p{
  margin: 10px 0;
}
.link{
  color: black;
  text-decoration: none;
}
