.background{
  height: 100px;
  background-color: rgba(0, 0, 0, 0.95);
}
.heading{
  margin: 30px 10vw;
  font-size: 40px;
  border-bottom: 1px solid rgb(92, 92, 92);
  font-weight: 200;
}
.container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 10%;
  justify-items: center;
}
.card{
  margin-bottom: 50px;
  transition: 0.5s;
}
.imgcontainer{
  height: 250px;
}
.img{
  width: 25vw;
  height: 250px;
  object-fit: contain;
}
.card:hover{
  transform: scale(1.1);
}
.info{
  text-align: center;
  margin: 5px 0;
  color: rgb(56, 56, 56);
  font-size: 12px;
}