.background{
  height: 100px;
  background-color: rgba(0, 0, 0, 0.95);
}
.heading{
  margin: 30px 10vw;
  font-size: 50px;
  border-bottom: 1px solid rgb(92, 92, 92);
  font-weight: 200;
}
.subheading{
  margin: 50px 0;
  font-size: 50px;
  border-bottom: 1px solid rgb(92, 92, 92);
  font-weight: 200;
}
.flex{
  display: flex;
  justify-content: center;
  gap: 8vw;
  margin-bottom: 50px;
}
.leftcontainer{
  width: 50vw;
}
.boxcontainer{
  margin: 0 10vw;
  display: flex;
  border: 1px solid black;
  gap: 10vw;
  padding: 50px;
  margin-bottom: 50px;
}
.boxcontainer h4{
  display: flex;
  align-items: center;
  font-size: 18px;
  gap: 10px;
}
.Adcontainer{
  margin-bottom: 40px;
  height: 75vh;
  width: 20vw;
  position: sticky;
  top: 120px;
}
.adimg{
  height: 550px;
  width: 20vw;
  position: sticky;
  top: 120px;
  background-color: rgb(239, 239, 239);
  border: 1px solid grey;
  object-fit: cover;
}